
@{
    ViewData["Title"] = "Edit";
}
@model Director
<form method="post" asp-action="Edit">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-9 col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <div class="list-group-item-action">
                            <a class="btn btn-outline-danger" asp-controller="Directors" asp-action="Delete" asp-route-id="@Model.Id">წაშლა</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="col-form-label" asp-for="Name"></label>
                                <input class="form-control" asp-for="Name" required />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">გვარი</label>
                                <input class="form-control" asp-for="LastName" required />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">დაბადების თარიღი</label>
                                <input class="form-control" asp-for="BirthDate" required />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">IMDB რეიტინგი</label>
                                <input class="form-control" asp-for="Rating" required />
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">სურათის ლინკი</label>
                                <input class="form-control" asp-for="ImgPath" required />
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary" style="float:right;">შენახვა</button>
                        <a asp-controller="Directors" asp-action="Index">
                            უკან
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>